In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
df=pd.DataFrame(randn(5,4),index="A B C D E".split(),columns="W X Y Z".split())

In [5]:
df

          W         X         Y         Z
A -0.783883 -0.711180 -0.686687 -0.295227
B -0.803386 -0.295973  0.652819 -1.676093
C  0.486146  0.128302 -1.183071  0.898188
D  0.096102 -0.455445  1.922879 -1.371525
E  0.618181 -0.509428 -0.866075 -0.618094

In [7]:
"A,B,C,D,E".split("C")

['A,B,', ',D,E']

In [8]:
df["W"]

A   -1.124225
B    0.958588
C   -0.639749
D    0.010888
E    0.645235
Name: W, dtype: float64

In [10]:
df["X"]

A    0.726926
B    0.378728
C   -0.638261
D   -0.653242
E    1.079518
Name: X, dtype: float64

In [11]:
df["Y"]

A    0.307498
B    1.167554
C    0.459906
D    1.010763
E    0.207678
Name: Y, dtype: float64

In [14]:
df[["X","Y"]]

          X         Y
A  0.726926  0.307498
B  0.378728  1.167554
C -0.638261  0.459906
D -0.653242  1.010763
E  1.079518  0.207678

In [27]:
df[["W","X"]]

          W         X
A -0.783883 -0.711180
B -0.803386 -0.295973
C  0.486146  0.128302
D  0.096102 -0.455445
E  0.618181 -0.509428

In [18]:
type(df["X"])

pandas.core.series.Series

In [28]:
df.W

A   -0.783883
B   -0.803386
C    0.486146
D    0.096102
E    0.618181
Name: W, dtype: float64

In [29]:
df.X

A   -0.711180
B   -0.295973
C    0.128302
D   -0.455445
E   -0.509428
Name: X, dtype: float64

In [30]:
df.loc[["A"]]

          W         X         Y         Z
A -1.124225  0.726926  0.307498 -1.811556

In [29]:
df.loc[["A","B"]]

          W         X         Y         Z
A -1.124225  0.726926  0.307498 -1.811556
B  0.958588  0.378728  1.167554 -2.150160

In [31]:
df.loc[["A","B","C"]]

          W         X         Y         Z
A -1.124225  0.726926  0.307498 -1.811556
B  0.958588  0.378728  1.167554 -2.150160
C -0.639749 -0.638261  0.459906 -0.492435

In [32]:
df["new"]=df["X"]+10

In [33]:
df

          W         X         Y         Z        new
A -1.124225  0.726926  0.307498 -1.811556  10.726926
B  0.958588  0.378728  1.167554 -2.150160  10.378728
C -0.639749 -0.638261  0.459906 -0.492435   9.361739
D  0.010888 -0.653242  1.010763 -0.445961   9.346758
E  0.645235  1.079518  0.207678  1.813097  11.079518

In [34]:
df["new"]=df["Y"]+10

In [35]:
df

          W         X         Y         Z        new
A -1.124225  0.726926  0.307498 -1.811556  10.307498
B  0.958588  0.378728  1.167554 -2.150160  11.167554
C -0.639749 -0.638261  0.459906 -0.492435  10.459906
D  0.010888 -0.653242  1.010763 -0.445961  11.010763
E  0.645235  1.079518  0.207678  1.813097  10.207678

In [52]:
df.drop("new",axis=1,inplace=True)

KeyError: "['new'] not found in axis"

In [2]:
df

NameError: name 'df' is not defined

In [56]:
df.drop("B",axis=0,inplace=True)

In [58]:
df

          W         X         Y         Z
A -1.124225  0.726926  0.307498 -1.811556
D  0.010888 -0.653242  1.010763 -0.445961
E  0.645235  1.079518  0.207678  1.813097

In [59]:
df>0

       W      X     Y      Z
A  False   True  True  False
D   True  False  True  False
E   True   True  True   True

In [6]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B       NaN       NaN  0.652819       NaN
C  0.486146  0.128302       NaN  0.898188
D  0.096102       NaN  1.922879       NaN
E  0.618181       NaN       NaN       NaN

In [7]:
df[df['Y']>0]['X']

B   -0.295973
D   -0.455445
Name: X, dtype: float64

In [ ]:
df

In [11]:
df[df['Y']>0]['X']

B   -0.295973
D   -0.455445
Name: X, dtype: float64

In [19]:
df[df['W']>0]['Y']

C   -1.183071
D    1.922879
E   -0.866075
Name: Y, dtype: float64

In [20]:
df

          W         X         Y         Z
A -0.783883 -0.711180 -0.686687 -0.295227
B -0.803386 -0.295973  0.652819 -1.676093
C  0.486146  0.128302 -1.183071  0.898188
D  0.096102 -0.455445  1.922879 -1.371525
E  0.618181 -0.509428 -0.866075 -0.618094

In [31]:
df(df["W"]>0]) & (df["Y"] > 0)]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (1851054970.py, line 1)